html,
body {
  height: 100vh
}

header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.calculator {
  background-color: rgb(81, 82, 82);
  min-height: 400px;
  min-width: 300px;
  height: 400px;
  width: 300px;
  border: 2px solid rgb(78, 78, 78);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(57, 57, 57, 0.875);
}

.display {
  padding: 10px 20px;
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: rgb(98, 99, 99);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
}

.display-last {
  min-height: 32px;
  font-size: 18px;
}

#display-current {
  min-height: 35px;
  font-size: 40px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 69%;
}

#clear-button,
#delete-button {
  grid-column: span 2;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

#clear-button {
  background-color: rgb(113, 229, 113);
}

#clear-button:hover {
  background-color: rgb(56, 186, 56)
}

#clear-button:active {
  background-color: rgb(28, 140, 28)
}

#delete-button {
  background-color: rgb(231, 107, 107);
}

#delete-button:hover {
  background-color: rgb(210, 85, 85);
}

#delete-button:active {
  background-color: rgb(194, 42, 42);
}

.number-button,
#decimal-button,
#equal-button {
  padding: 11px;
  background-color: rgb(124, 125, 125);
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.number-button:hover,
#decimal-button:hover,
#equal-button:hover {
  background-color: rgb(150, 151, 151);
}

.number-button:active,
#decimal-button:active,
#equal-button:active {
  background-color: rgb(176, 178, 178);
}

.operator-button {
  background-color: rgb(245, 142, 14);
  cursor: pointer;
  font-size: 25px;
}

.operator-button:hover {
  background-color: rgb(245, 163, 63);
}

.operator-button:active {
  background-color: rgb(235, 129, 0);
}